.bold {
  font-weight: 600; }

.h2 {
  font-size: 3rem;
  letter-spacing: 0.7rem;
  color: #f58d0d; }

.p {
  font-size: 1.4rem; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  color: #4a4a4a;
  font-family: sans-serif;
  font-weight: 400; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.top-bar {
  background: #f58d0d;
  padding: 0;
  margin: 0;
  color: white;
  height: 6rem; }
  .top-bar__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }

.logo {
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
  margin-right: auto;
  margin-left: 5rem; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-right: 5rem; }
  .navigation__list {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    display: flex;
    background: red;
    align-self: stretch;
    height: 100%; }
    .navigation__list--item {
      display: flex;
      background: green;
      height: 100%; }
  .navigation__link, .navigation__link:visited, .navigation__link:active {
    text-decoration: none;
    color: white;
    height: 100%;
    background-color: #f58d0d;
    padding: 2rem;
    transition: all 0.2s ease; }
  .navigation__link:hover {
    background-color: #f4a546; }

.liked-bar {
  background-color: #f0f0f0;
  padding: 2rem 0;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  display: none;
  text-align: center; }
  .liked-bar__container {
    display: flex;
    justify-content: center;
    align-items: center; }
    .liked-bar__container > * {
      margin: 1rem; }
  .liked-bar__buttons {
    padding: 1rem;
    align-self: center;
    outline: none;
    border: 2px solid #f58d0d;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: #f58d0d;
    cursor: pointer;
    transition: all 0.2s ease;
    color: white; }
    .liked-bar__buttons:hover, .liked-bar__buttons:active {
      background: #f4a546;
      transform: scale(1.1); }

.liked {
  display: flex;
  max-width: 1200px;
  overflow-x: scroll;
  padding-bottom: 3.5rem; }
  .liked .saved-ad {
    font-size: 1.3rem;
    text-align: center;
    background-color: white;
    padding: 1rem;
    padding-bottom: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .liked .saved-ad img {
      width: 25rem; }
    .liked .saved-ad__details {
      margin-bottom: 1rem; }
      .liked .saved-ad__details > * {
        padding: 0.3rem; }
    .liked .saved-ad__buttons {
      display: flex;
      width: 80%;
      margin: 0 auto;
      justify-content: space-around; }
      .liked .saved-ad__buttons--button {
        padding: 1rem;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.2s; }
        .liked .saved-ad__buttons--button:hover {
          transform: scale(1.1); }
        .liked .saved-ad__buttons--button--view {
          background-color: #f58d0d; }
          .liked .saved-ad__buttons--button--view:hover {
            background-color: #f7a43e; }
        .liked .saved-ad__buttons--button--remove {
          background-color: #8a2f2f; }
          .liked .saved-ad__buttons--button--remove:hover {
            background-color: #b03c3c; }
  .liked > *:not(:first-child),
  .liked > *:not(:last-child) {
    margin: 0 1rem; }

.landing-page {
  display: flex; }

.properties {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  margin-left: 2rem; }

.landing__header {
  width: 100vw;
  height: calc(100vh - 6rem);
  background: linear-gradient(rgba(245, 141, 13, 0.8), rgba(244, 165, 70, 0.5)), url(/media/img/landing-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%); }

.landing__text {
  text-align: center;
  margin-top: -5rem;
  font-weight: 300;
  color: white;
  text-transform: uppercase; }
  .landing__text--heading {
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: 0.7rem; }
  .landing__text--text {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
    margin-top: 1rem; }

.features {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 10rem 0; }
  .features .feature {
    text-align: center;
    width: 33.3333333%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .features .feature__icon {
      font-size: 10rem;
      margin-bottom: 2.8rem;
      color: transparent;
      background: linear-gradient(to right bottom, rgba(245, 141, 13, 0.8), rgba(244, 165, 70, 0.5));
      background-clip: text;
      -webkit-background-clip: text;
      transition: all 0.4s; }
      .features .feature__icon:hover {
        background: linear-gradient(to right bottom, rgba(245, 141, 13, 0.9), rgba(244, 165, 70, 0.7));
        background-clip: text;
        -webkit-background-clip: text;
        transform: scale(1.1); }
    .features .feature__text {
      width: 80%; }
      .features .feature__text--heading {
        margin-bottom: 1.5rem;
        color: #f58d0d; }
      .features .feature__text--paragraph {
        color: gray; }

.sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 25%; }
  .sidebar__options {
    display: flex;
    flex-direction: column;
    padding: 1rem; }
    .sidebar__options:not(:last-child) {
      border-bottom: 1px solid #919191; }
    .sidebar__options--block {
      display: flex;
      flex-direction: column; }
  .sidebar .select-group {
    display: flex;
    margin: 0.3rem;
    font-size: 1.4rem; }
    .sidebar .select-group label {
      margin-left: 0.7rem; }
  .sidebar .propertySearch {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid #c2c2c2; }
    .sidebar .propertySearch label {
      font-size: 2.6rem;
      font-weight: 600; }
    .sidebar .propertySearch input {
      padding: 0.4rem;
      font-size: 1.5rem;
      font-style: sans-serif; }
  .sidebar .propertyPrice {
    display: flex;
    flex-direction: column; }
    .sidebar .propertyPrice h3 {
      margin-bottom: 1rem; }
    .sidebar .propertyPrice label {
      font-size: 1.4rem; }

.property {
  display: flex;
  margin: 2rem 0;
  background-color: #f0f0f0;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  transition: all 0.2s;
  overflow: hidden;
  border: 1px solid #f58d0d; }
  .property:hover {
    transform: scale(1.02);
    box-shadow: 0 0.6rem 1.3rem rgba(0, 0, 0, 0.3); }
  .property-photo {
    width: 33%;
    align-self: stretch; }
    .property-photo img {
      width: 100%;
      object-fit: cover;
      height: 100%; }
  .property-details {
    align-self: stretch;
    margin: 1rem 0;
    margin-right: auto;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .property-details h3 {
      font-size: 1.7rem; }
    .property-details p {
      font-size: 1.1rem; }
    .property-details .utilities {
      display: flex; }
      .property-details .utilities > *:not(:first-child) {
        margin-left: 1rem; }
    .property-details .check {
      color: green; }
    .property-details .cross {
      color: #b03c3c; }
  .property-buttons {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 2rem; }
    .property-buttons button {
      padding: 1.5rem;
      border-radius: 1rem;
      color: white;
      cursor: pointer; }
    .property-buttons .likeButton {
      background-color: #f58d0d; }
      .property-buttons .likeButton:hover {
        background-color: #f7a43e; }
    .property-buttons .viewButton {
      background-color: #f4a546; }
      .property-buttons .viewButton:hover {
        background-color: #f7bc76; }

.properties-container .no-result {
  padding: 10rem;
  text-align: center;
  font-size: 5rem; }

.properties-container .results-count {
  padding: 1rem;
  text-align: center; }

.ad {
  display: flex;
  width: 100%;
  padding: 5rem;
  margin: 0 auto;
  background-color: #f0f0f0;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
  margin-top: 1rem; }
  .ad .slider {
    display: flex;
    justify-content: center;
    align-items: center; }
    .ad .slider img {
      width: 500px; }
    .ad .slider button {
      padding: 1rem 1.6rem;
      background-color: #f58d0d;
      font-size: 1.6rem;
      color: white;
      border-radius: 10px;
      cursor: pointer; }
      .ad .slider button:hover {
        background-color: #f7a43e; }
    .ad .slider > * {
      margin: 0 1rem; }
  .ad .details {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around; }
    .ad .details .adress {
      width: 100%;
      text-align: center;
      font-size: 3rem; }
    .ad .details__blocks {
      display: flex;
      justify-content: space-around;
      align-self: stretch;
      font-size: 1.8rem; }

.recent-listings {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
  background: linear-gradient(to right bottom, #f58d0d, rgba(244, 165, 70, 0.5)), url(/media/img/recents-bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20rem 0;
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
  box-shadow: 0 0rem 4rem black; }
  .recent-listings__text {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 4rem; }
    .recent-listings__text--heading {
      margin-bottom: 8rem;
      text-align: center;
      color: white; }
    .recent-listings__text--paragraph {
      margin-bottom: 2rem;
      text-align: center; }

.listings {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .listings .listing {
    width: 18%;
    overflow: hidden;
    padding: 0rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #f4f4f4;
    transition: all 0.4s; }
    .listings .listing:hover {
      transform: scale(1.05);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3); }
    .listings .listing__image {
      margin-bottom: 1rem; }
      .listings .listing__image img {
        height: 100%;
        overflow: hidden; }
    .listings .listing__details {
      text-align: center;
      padding: 1rem; }
      .listings .listing__details h3 {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        color: #f58d0d; }
      .listings .listing__details p {
        margin-bottom: 2rem;
        font-size: 1.4rem;
        font-weight: bold; }
      .listings .listing__details button {
        cursor: pointer;
        transition: all 0.2s;
        outline: none;
        border: none;
        margin-bottom: 1rem; }
        .listings .listing__details button:hover {
          transform: scale(1.1) translateY(0); }
        .listings .listing__details button:active {
          background-color: #f4a546;
          transform: scale(1.1) translateY(2px); }
        .listings .listing__details button a {
          color: white;
          background-color: #f58d0d;
          padding: 1rem 2rem;
          border-radius: 1rem;
          text-decoration: none;
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3); }
          .listings .listing__details button a:hover {
            background-color: #f4a546; }
          .listings .listing__details button a:active {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
