$font-color-primary : rgb(74, 74, 74);
$color-primary : rgb(245, 141, 13);
$color-primary-light : rgb(244, 165, 70);

.bold {
    font-weight: 600;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    color: $font-color-primary;
    font-family: sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}