$font-color-primary : rgb(74, 74, 74);
$color-primary : #f58d0d;
$color-primary-light : #f4a546;
$color-red-dark : #b03c3c;

$bp-xl : 1250px;
$bp-lg : 1065px;
$bp-md : 900px;
$bp-sm : 650px;

.bold {
    font-weight: 600;
}

.h2 {
    font-size: 5rem;
    letter-spacing: 0.7rem;
    color: $color-primary;
    text-align: center;
    font-weight: 300;

    @media only screen and (max-width:$bp-sm) {
        font-size: 3rem;
        font-weight: 600;
    }
}

.h3 {
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
}

.p {
    font-size: 1.6rem;
}

.white {
    color: white;
}


*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

    @media only screen and (max-width:$bp-xl) {
        font-size: 57.5%;
    }

    @media only screen and (max-width:$bp-md) {
        font-size: 51.5%;
    }

    @media only screen and (max-width:$bp-sm) {
        font-size: 48%;
    }
}

body {
    color: $font-color-primary;
    font-family: sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}