.sidebar {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 25%;

    &__options {
        display: flex;

        flex-direction: column;

        &--block {
            display: flex;
            flex-direction: column;
        }
    }

    .select-group {
        display: flex;
        margin: 0.3rem;
        font-size: 1.4rem;

        label {
            margin-left: 0.7rem;
        }
    }
}