.sidebar {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 25%;

    &__options {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        &:not(:last-child) {
            border-bottom: 1px solid rgb(145, 145, 145);
        }

        &--block {
            display: flex;
            flex-direction: column;
        }
    }

    .select-group {
        display: flex;
        margin: 0.3rem;
        font-size: 1.4rem;

        label {
            margin-left: 0.7rem;
        }
    }

    .propertySearch {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-bottom: 1px solid rgb(194, 194, 194);

        label {
            font-size: 2.6rem;
            font-weight: 600;
        }

        input {
            padding: 0.4rem;
            font-size: 1.5rem;
            font-style: sans-serif;
        }
    }

    .propertyPrice {
        display: flex;
        flex-direction: column;

        h3 {
            margin-bottom: 1rem;
        }

        label {
            font-size: 1.4rem;
        }
    }
}