.landing-page {
    display: flex;
    position: relative;
}

.properties {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    margin-left: 2rem;

    @media only screen and (max-width:$bp-sm) {
        margin-left: 0;
    }

    .sort-results {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @media only screen and (max-width:$bp-sm) {
            align-items: flex-end;
        }

        label {
            text-align: center;
        }
    }
}

.landing {
    &__header {
        height: calc(100vh - 6rem);
        background: linear-gradient(rgba($color-primary, 0.8), rgba($color-primary-light, 0.5)), url(/media/img/landing-bg.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);

    }

    &__text {
        text-align: center;
        margin-top: -5rem;
        font-weight: 300;
        color: white;
        text-transform: uppercase;

        &--heading {
            font-size: 5rem;
            font-weight: 300;
            letter-spacing: 0.7rem;

            @media only screen and (max-width:$bp-lg) {
                font-size: 4rem;
            }

            @media only screen and (max-width:$bp-lg) {
                font-size: 3rem;
            }
        }

        &--text {
            font-size: 2rem;
            font-weight: 300;
            letter-spacing: 0.3rem;
            margin-top: 1rem;
        }

        &--button {
            border: none;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-top: 1rem;
            border-radius: 15rem;

            &:hover {
                background-color: rgba($color:#fff, $alpha: 0.8);
            }
        }

        &--link,
        &--link:visited,
        &--link:active {
            padding: 1.5rem 3rem;
            color: rgba($color-primary, 1);
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}

.features {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 10rem 0;

    @media only screen and (max-width:$bp-sm) {
        flex-direction: column;
        margin: 3rem 0;
    }

    .feature {
        text-align: center;
        width: 33.3333333%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width:$bp-sm) {
            width: 80%;

            &:not(:last-child) {
                margin-bottom: 3rem;
            }
        }

        &__icon {
            font-size: 10rem;
            margin-bottom: 2.8rem;
            color: transparent;
            background: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-primary-light, 0.5));
            background-clip: text;
            -webkit-background-clip: text;
            transition: all 0.4s;

            &:hover {
                background: linear-gradient(to right bottom, rgba($color-primary, 0.9), rgba($color-primary-light, 0.7));
                background-clip: text;
                -webkit-background-clip: text;
                transform: scale(1.1);
            }
        }

        &__text {
            width: 80%;

            @media only screen and (max-width:$bp-sm) {
                width: 100%;
            }

            &--heading {
                margin-bottom: 1.5rem;
                color: $color-primary;
            }

            &--paragraph {
                color: gray;
            }
        }
    }
}