.property {
    display: flex;
    margin: 2rem 0;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    transition: all 0.2s;
    overflow: hidden;
    border: 1px solid $color-primary;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 0.6rem 1.3rem rgba(0, 0, 0, 0.3);
    }

    &-photo {
        width: 33%;
        align-self: stretch;


        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    &-details {
        align-self: stretch;
        margin: 1rem 0;
        margin-right: auto;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h3 {
            font-size: 1.7rem;
        }

        p {
            font-size: 1.1rem;
        }

        .utilities {
            display: flex;

            &>*:not(:first-child) {
                margin-left: 1rem;
            }
        }

        .check {
            color: green;
        }

        .cross {
            color: $color-red-dark;
        }
    }

    &-buttons {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 2rem;

        button {
            padding: 1.5rem;
            border-radius: 1rem;
            color: white;
            cursor: pointer;
        }

        .likeButton {
            background-color: $color-primary;

            &:hover {
                background-color: lighten($color-primary, 10);
            }
        }

        .viewButton {
            background-color: $color-primary-light;

            &:hover {
                background-color: lighten($color-primary-light, 10);
            }
        }
    }
}

.properties-container {
    .no-result {
        padding: 10rem;
        text-align: center;
        font-size: 5rem;
    }

    .results-count {
        padding: 1rem;
        text-align: center;
    }
}