.ad {
    display: flex;
    width: 100%;
    padding: 5rem;
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
    margin-top: 1rem;

    .slider {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 500px;
        }

        button {
            padding: 1rem 1.6rem;
            background-color: $color-primary;
            font-size: 1.6rem;
            color: white;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background-color: lighten($color-primary, 10);
            }
        }

        &>* {
            margin: 0 1rem;
        }

    }

    .details {
        margin-left: 3rem;
        display: flex;
        flex-direction: column;
        width: 100%;

        align-items: center;
        justify-content: space-around;


        .adress {
            width: 100%;
            text-align: center;
            font-size: 3rem;
        }

        &__blocks {
            display: flex;
            justify-content: space-around;
            align-self: stretch;

            font-size: 1.8rem;
        }
    }
}